<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>123</title>
<body>
    <%- include("partials/menu.ejs") %>

    <h3>Familia: <%=fam %></h3>
    <h3>Name: <%=name %></h3>
    <h3>Otcestvo: <%=otc %></h3>

    <%- include ("partials/footer.ejs") %>
</body>
</html>