<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Languages</title>
</head>
<body>
    <%- include("partials/menu.ejs") %>

    <h2><%=languages %></h2>
    <h4><%=csharp %></h4>
    <h4><%=cplus %></h4>
    <h4><%=python %></h4>

    <%- include ("partials/footer.ejs") %>
</body>
</html>