<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moi naviky</title>
</head>
<body>
    <%- include("partials/menu.ejs") %>

    <h2><%=navik %></h2>
    <h4><%=navik1 %></h4>
    <h4><%=navik2 %></h4>
    <h2><%=uvlechenia %></h2>
    <h4><%=uvlechenia1 %></h4>

    <%- include ("partials/footer.ejs") %>
</body>
</html>